<head>
    <title>Singup</title>
</head>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Singin</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Buy and sell food products</p>
    </div>
</div>

<div class="row justify-content-center">

    <% if(flash&&flash.success&&flash.success.length>0) { %>
        <div class="col-8 alert alert-success" role="alert">
            <%= flash.success %>
        </div>
        <% } %>
    
            <% if(flash&&flash.error&&flash.error.length>0) { %>
                <div class="col-8 alert alert-danger" role="alert">
                    <%= flash.error %>
                </div>
                <% } %>





                    <div class="col-8">

                        <form action="/api/auth/signin?view=true" method="POST">
                            <div class="row g-3">

                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" id="email" class="form-control">
                                </div>

                                <div class="col-12">
                                    <label for="name" class="form-label">Username</label>
                                    <input type="text" name="username" id="name" class="form-control" required>
                                </div>

                                <div class="col-12">
                                    <label for="description" class="form-label">Password</label>
                                    <input type="text" name="password" id="password" class="form-control" cols="30"
                                        rows="4" required>
                                </div>



                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit Recipe</button>
                                </div>

                            </div>

                        </form>





                    </div>
</div>